<footer class="footer is-light">
  <div class="container">
    <div class="columns">
        <div class="column is-3 text-uppercase text-center">
        <strong><a class="color-text-footer montserrat-regular" href="https://brecoins.com.br/taxas" title="Taxas e Tarifas"><i class="fa fa-usd" aria-hidden="true"></i> Taxas e Tarifas</a></strong>
       </div>
       
       <div class="column is-3 text-uppercase text-center">
        <strong><a class="color-text-footer montserrat-regular" href="https://docs.brecoins.com.br/" title="Vídeos"><i class="fa fa-code" aria-hidden="true"></i> Desenvolvedores</a></strong>
       </div>
       
       <div class="column is-3 text-uppercase text-center">
        <strong><a class="color-text-footer montserrat-regular" target="_blank" rel="nofollow" href="https://status.brecoins.com.br" title="Status"><i class="fa fa-server" aria-hidden="true"></i> Status</a></strong>
       </div>
       
       <div class="column is-3 text-uppercase text-center">
        <strong><a class="color-text-footer montserrat-regular" href="https://brecoins.com.br/termos" title="Termos e Políticas"><i class="fa fa-file-text-o" aria-hidden="true"></i> Termos e Políticas</a></strong>
       </div>
    </div>
 </div>
  <hr style="background-color: #111" />
    <div class="container">
       <div class="social"><a href="https://fb.com/brecoins"><i class="fa fa-facebook"></i> </a><a href="https://twitter.com/brecoins"><i class="fa fa-twitter"></i> </a><a href="https://instagr.am/brecoins"><i class="fa fa-instagram"></i> </a><a href="#"><i class="fa fa-linkedin"></i> </a><a href="https://www.youtube.com/channel/UC1NqJlzj2XqmWHudqxVUh-Q" target="_blank"><i class="fa fa-youtube"></i></a><a href="https://medium.com/bre-coins" target="_blank"><i class="fa fa-medium"></i></a><a href="https://github.com/BRECoins" target="_blank"><i class="fa fa-github"></i></a></div>
       <br>
       <p class="has-text-grey-dark has-text-centered">
          Copyright &copy;<script>document.write((new Date).getFullYear())</script>. Todos os direitos reservados.
       </p>
    </div>
 </footer>